docker {
    enabled    = true
    // If the Docker socket is mounted inside the worker container, the
    // child containers need to share the host network so they can reach
    // the CDM database.
    runOptions = '--network host'
}

process {
    withName: 'runCharacterization' {
        container = 'characterization:latest'
    }
}
